<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>グルメ情報</title>
    <style>
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .button-container form {
            margin-right: 30px; /* ボタン間の間隔を広くする */
        }
    </style>
</head>
<body>
    <h1 th:text="'グルメ情報 - ' + ${prefecture}"></h1>
    <div th:if="${#lists.isEmpty(gourmet)}">
        <p>この都道府県にはグルメ情報がありません。</p>
    </div>
    <div th:if="${not #lists.isEmpty(gourmet)}">
        <ul>
            <li th:each="item : ${gourmet}" th:text="${item}"></li>
        </ul>
    </div>
    <a href="/">戻る</a>
    
    <div class="button-container">
        <!-- スポットページへのリンク -->
        <form action="/spot" method="get">
            <input type="hidden" name="prefecture" th:value="${prefecture}" />
            <button type="submit">スポットを見る</button>
        </form>
    </div>
</body>
</html>
